*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(196, 102, 120, 0.709);
}

main{
    display: block;
    max-width: 600px;
    margin: 7rem auto;
    background: rgba(196, 102, 119, 0.995);
    padding: 9rem;
    border-radius: 15px;
    border: 2px solid #d32f2f;
    box-shadow: 0 0 55px rgba(235, 114, 87, 0.236);
}

header{
    font-size: 2rem;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #d32f2f;
    font-size: 15px;
    font-weight: 700;
}